<p>merkle works!</p>
<div >
    <h4>Merkle</h4>
    <div class="row">
        <div class="col-xs-2 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    <input class="form-control" placeholder="Ingresar nuevo valor" [(ngModel)]="x">
                </div>
            </div>
        </div>
        <div class="col-xs-2 text-xs-center">
            <div class="card mb-3 text-center my-auto">
                <div class="card-body align-items-center" >
                    <button class="btn btn-secondary mr-3" type="button" (click)="Insertar()">Agregar</button>
                </div>
            </div>
        </div>      
    </div>
    <div class="row">
        <div class="col-xl-6 text-xs-center">
            <fieldset class="form-group">
                <small><label>JSON a cargar &#123;"categoria":"ABB ","nombre":"{{tituloLista}}","animacion":"5","valores":["n1","n2",..]&#125;</label></small>
                <input type="file" (change)="cargarArchivo($event.target.files)">
                <button class="btn btn-secondary" type="submit" (click)="clickCargar()">Cargar a lista dinamica</button>
            </fieldset>
        </div>
    </div>   
    <br>
    <div id="mynetwork" #siteConfigNetwork></div>
    <div class="col-xl-6 text-xs-center">
        <fieldset class="form-group">
            <label>JSON salida</label>
            <textarea class="form-control" rows="2">{{listaEnlJSon}}</textarea>
            <button class="btn btn-secondary" type="submit">Guardar</button>
        </fieldset>
    </div>
</div>
<style type="text/css">
    #mynetwork {
        width: 1200px;
        height: 500px;
        border: 1px solid lightgray;
    }
</style>