
<div >
    <h4>Algoritmo de Costo Uniforme</h4>
   
    <div class="row">
        <div class="col-xs-2 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    <input class="form-control" placeholder="De valor" [(ngModel)]="valor">
                    <input class="form-control" placeholder="Hacia valor" [(ngModel)]="hacia">
                    <input type="number" class="form-control" placeholder="Distancia entre valores" [(ngModel)]="distancia">
                </div>
            </div>
        </div>
        <div class="col-xs-2 text-xs-center">
            <div class="card mb-3 text-center my-auto">
                <div class="card-body align-items-center" >
                    <button class="btn btn-secondary mr-3" type="button" (click)="Insertar()">Agregar</button>
                    <button class="btn btn-secondary mr-3" type="button" (click)="Eliminar()">Eliminar</button>
                    <button class="btn btn-secondary mr-3" type="button" (click)="Actualizar()">Actualizar</button>
                </div>
            </div>
        </div>      
    </div>
    <div class="row">
        <div class="col-xs-2 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    <input class="form-control" placeholder="De Valor" [(ngModel)]="valorbuscar">
                    <input class="form-control" placeholder="Hacia Valor" [(ngModel)]="haciabuscar">
                </div>
            </div>
        </div>
        <div class="col-xs-2 text-xs-center">
            <div class="card mb-3 text-center my-auto">
                <div class="card-body align-items-center" >
                    <button class="btn btn-secondary mr-3" type="button" (click)="HacerGrafo()">Dibujar Grafo</button>
                </div>
            </div>
        </div>      
    </div>
    <div class="row">
        <div class="col-xl-6 text-xs-center">
            <fieldset class="form-group">
              <input type="file" (change)="cargarArchivo($event.target.files)">
                <button class="btn btn-secondary" type="submit" (click)="clickCargar()">Cargar a lista dinamica</button>
            </fieldset>
        </div>
    </div>   
    
    <br>
    <div id="mynetwork" #siteConfigNetwork></div>
    <div class="col-xl-6 text-xs-center">
        <fieldset class="form-group">
            <label>JSON salida</label>
            
            
        </fieldset>
    </div>
</div>
<style type="text/css">
    #mynetwork {
        width: 1200px;
        height: 500px;
        border: 1px solid lightgray;
    }
    #mySvgNetwork {
        width: 700px;
        height: 300px;
        border: 1px solid lightgray;
    }
</style>