.lb-sm {
    font-size: 12px;
  }
textarea { font-size: 12px; }
.center {
  display: flex;
  justify-content: center;
}
label {
  /* Other styling... */
  text-align: right;
  clear: both;
  float:left;
  margin-right:15px;
}
input {
  height: 30px;
  width: 200px;
  margin-top: 10px;
}
.mat-toolbar {
  color: #FFFFFF;
  background-color: #a34e08;
  height: 30px;
}