

<div >
    <h4>Matrices Dispersas</h4>
    <p *ngIf="showMessage">Se encontraron valores repetidos al insertar valores a la lista</p>
    <p *ngIf="showMessageBuscar">{{strMessageBuscar}}</p>
    <div class="row">
        <div class="col-xs-2 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    <input type="text" class="form-control" placeholder="Ingresar nuevo valor" [(ngModel)]="valor">
                    <input type="number" class="form-control" placeholder="Ingrese la coordenada x" [(ngModel)]="coordenadax">
                    <input type="number" class="form-control" placeholder="Ingrese la coordenada x" [(ngModel)]="coordenaday">
                </div>
            </div>
        </div>
        <div class="col-xs-2 text-xs-center">
            <div class="card mb-3 text-center my-auto">
                <div class="card-body align-items-center" >
                    <button class="btn btn-secondary mr-3" type="button" (click)="Insertar()">Agregar</button>
                    <button class="btn btn-secondary mr-3" type="button" (click)="Buscar()">Buscar</button>
                    <button class="btn btn-secondary mr-3" type="button" (click)="Eliminar()">Eliminar</button>
                    <button class="btn btn-secondary mr-3" type="button" (click)="Actualizar()">Actualizar</button>
                    <label for="seleccionRepeticiones">Repeticiones: </label>
                    <mat-radio-group id="seleccionRepeticiones" aria-label="Select an option" class="example-radio-group"
                    [(ngModel)]="opcionRepeticiones" >
                    <mat-radio-button value="true">true</mat-radio-button>
                    <mat-radio-button value="false">false</mat-radio-button>
                </mat-radio-group>
                </div>
            </div>
        </div>      
        
    </div>
    <p id="p">Caca</p>
    <div class="row">
        <div class="col-xl-6 text-xs-center">
            <fieldset class="form-group">
              <input type="file" (change)="cargarArchivo($event.target.files)">
                <button class="btn btn-secondary" type="submit" (click)="clickCargar()">Cargar a lista dinamica</button>
            </fieldset>
        </div>
    </div>   
    <div class="row">
        <div class="col-xl-12 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    <!--<textarea class="form-control" rows="3"></textarea>-->
                    <canvas id="mycanvas" width="1300" height="1200" #canvas style="background-color:whitesmoke;"></canvas>
                    <!--<button (click)="play()">Play</button>-->
                </div>
            </div>
        </div>
    </div> 

    <div class="col-xl-6 text-xs-center">
        <fieldset class="form-group">
            <label>JSON salida</label>
            <textarea class="form-control" rows="2">{{listaEnlJSon}}</textarea>
            <button class="btn btn-secondary" type="submit" (click)="downloadJson()">Guardar</button>
        </fieldset>
    </div>
</div>
<style type="text/css">
    #mynetwork {
        border: 1px solid lightgray;
    }
</style>