<!--<h1>Hola soy {{nombre}} {{appellido}}</h1>
<h2>Hola y yo soy el alumno {{alumno.nombre}} {{alumno.appellido}}</h2>
<h3>Hola soy {{nombre}} {{alumno.appellido}}</h3>-->
<!--
<h1></h1>
<input  placeholder="Ingrese un nuevo valor" [(ngModel)]="inputNuevo">
<input type="text" [(ngModel)]="inputNuevo">
<p>{{inputNuevo}}</p>
<label>Correo
    <input type="text" [(ngModel)]="correo">
</label>
<label>Password
    <input type="password" [(ngModel)]="password">
</label>
<button (click)="Iniciar()"> Iniciar </button>
<label> Valor:    
    <input type="text" [(ngModel)]="x">
</label>
<button type="submit" (click)="Insertar()"> Insertar </button>
<h2>{{x}}</h2>
-->
<!--                                    -->

<div >
    <h4>Árbol B</h4>
    <div class="row">
        <div class="col-xs-2 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    <input class="form-control" placeholder="Ingresar nuevo valor" [(ngModel)]="x">
                </div>
            </div>
        </div>
        <div class="col-xs-2 text-xs-center">
            <div class="card mb-3 text-center my-auto">
                <div class="card-body align-items-center" >
                  </div>
            </div>
        </div>      
        <div class="col-xs-2">
            <div class="card mb-3 text-center my-auto">
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6 text-xs-center">
           
        </div>
        <div class="col-xl-6 text-xs-center">
            
        </div>
    </div>   
    <div class="row">
        <div class="col-xl-12 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div> 
</div>