<p>insercion works!</p>
<div [@routerTransition]>
    <div class="row">
        <div class="col-xl-6 text-xs-center">
            <fieldset class="form-group">
                <label>JSON a cargar</label>
                <textarea class="form-control" rows="2" [(ngModel)]="strCarga"></textarea>
                <button class="btn btn-secondary" type="submit" (click)="clickCargar()">Cargar datos</button>
            </fieldset>
        </div>
        <div class="col-xl-6 text-xs-center">
            
        </div>
    </div>   
    <div class="row">
        <div class="col-xl-10">
            <div class="card-header">
               
            </div>
                    
                
            </div>
    </div>
</div>
