<div >
    <h4>Cifrado Feistel</h4>
    <p *ngIf="showMessage">Se encontraron valores repetidos al insertar valores a la lista</p>
    <p *ngIf="showMessageBuscar">{{strMessageBuscar}}</p>
    <div class="row">
        
    </div>
    <div class="row">
        <div class="col-xl-6 text-xs-center">
            <fieldset class="form-group">
                <div>
              <input type="file" (change)="cargarArchivo($event.target.files)">
            </div>
                <div>
                  <h5> Escoja el número de veces que se repetirá el algoritmo</h5>  
                  <input type="number" [(ngModel)]="veces" >              
                  <h5> Ingrese la llave para la codificación</h5>  
                  <input type="number" [(ngModel)]="keyp" >              
                </div>
            </fieldset>
            <button class="btn btn-secondary" type="submit" (click)="clickCargar()">Cargar Archivo</button>
        </div>
    </div>   
    
    <br>
    <center>
    <div *ngIf="flag" style="overflow:auto;" id="mynetwork">
        <p style="color: red;"> TEXTO INGRESADO</p>
        <p style="color: green;">{{texto}}</p>
        <h2 style="color: red;">El código en binario sin cifrar es</h2>
        <h2 style="color: rgb(24, 185, 145);;">{{primeroprimero}}</h2>
        <div>
            <table *ngFor="let nombre of paratabla">
                <tr>
                    <th style="color: slateblue; background-attachment: fixed;">{{nombre[0]}}</th>
                    <th style="background-color: tan;">{{nombre[1]}}</th>
                </tr>
            </table>
        </div>
        <h2 style="color: red" >El código cifrado en binario es</h2>
        <h2 style="color: rgb(24, 185, 145);">{{ultimoultimo}}</h2>
    </div>
    </center>
    <div class="col-xl-6 text-xs-center">
        <fieldset class="form-group">
            <label>JSON salida</label>
            <textarea class="form-control" rows="2">{{listaEnlJSon}}</textarea>
            <button class="btn btn-secondary" type="submit" (click)="downloadJson()">Guardar</button>
        </fieldset>
    </div>
</div>
<style type="text/css">
    #mynetwork {
        border: 1px solid rgb(208, 87, 87);
    }
    table{
        table-layout: fixed;
        
    }
    
th, td {
    text-align:right;
    width: 500%;
   text-align: right;
   vertical-align: top;
   border: 1px solid #000;
   border-collapse: collapse;
   padding: 0.3em;
        color:rgb(208, 87, 87);
        word-wrap: break-word;
        table-layout: fixed;
}
</style>